<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página Início.">
        <title>MI  - Início</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'logo.png')}}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}" rel= "stylesheet">
    </head>

    <body>
        <header class="cabecalho">
            <img class="logoMI" src="{{ url_for('static', filename = 'smartShop.png')}}" alt="icone da MI">
            <nav class="linkCabecalho">
                <a class="linkCabecalhoItem" href="/">Início</a>
                <a class="linkCabecalhoItem" href="/login">Login</a>
            </nav>
        </header>

        <main class="conteudo">
            <h2>Vitrine:</h2>
            {% for id in produtos.keys() %}
                <div id="produtos">
                    <h2>Vendido por: {{id}}</h3>
                    {% for p in produtos[id].keys() %}
                        <div class = "produto-single">
                            <form class="frmCadastro" id="frmCadastro" action="" method="post">
                                <img  src ="../static/{{p}}.jpg"/>
                                <p><b>{{p}}</b></p>
                                <p class="descricao">{{produtos[id][p].get('desc_produto')}}</p>
                                <p> Restam: <b>{{produtos[id][p].get('quantidade')}}</b> quantidades</p>
                                
                                <input type="hidden" id="idLoja" name="idLoja" value="{{id}}">
                                <input type="hidden" id="nome" name="nome" value="{{p}}">
                                <input type="hidden" id="quantidade" name="quantidade" value="1">

                                <button class="button" type="submit" name="" id="btnCadastrarSalvar" value="adicionar ao carrinho!">adicionar ao carrinho!</button>
                            </form>
                        </div>
                    {% endfor %}           
                </div>               
                {% endfor %}    
            <h2>Carrinho:</h2>
            <div id="carrinho">
                <div class = "carrinho-single">
                    <p>{{id_loja}} | {{nome}}| quantidade: {{quantidade}}</p>
                    <hr>
                </div>
            </div>            
            <h2>Finalizar a compra:</h2>
            <div id="finalizar">
                <a class="comprar" href = "#">Finalizar a compra!<a/>
            </div>
        </main>

        <footer class="rodape">
            <img src="{{ url_for('static', filename = 'redes.svg')}}" alt="MI MI-Concorrência e Conectividade" height="50px">
        </footer>

    </body>
</html>