@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background: linear-gradient(68.15deg, #24232F 16.62%, #516A9B 85.61%);
    font-size: 100%;
}

.cabecalho {
    display:flex;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to right,#516A9B, #24232F);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 0.4px solid #FFFFFF;
}
.linkCabecalho{
    display: flex;
    gap: 42px;
}
.linkCabecalhoItem{
    padding-right: 30px;
    font-family: 'Sarala', sans-serif;
    color: rgba(231, 236, 255, 1);
}
.iconeEcompJr{
    padding-left: 30px;
    height: 42px;
}   

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    min-width: auto;
    align-items: center;
    align-self: auto;
    justify-content: center;
}
.conteudo-principal{
    background: rgba(194, 220, 238, 1);
    max-width: 350px;
    min-width: 10vw;
    min-height: 40vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0,2) ;
    border-radius: 8px;
    padding: 1rem;
}
.conteudo-principal-titulo{            
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    padding-bottom: 10px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.tituloConteudo{
    color: rgba(81, 106, 155, 1);
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
}
.link{
    font-family: 'Sarala', sans-serif, px;
    color: rgba(81, 106, 155, 1);
    display: flex;
    justify-content:center;
    font-size: 13px;
}

.input-field{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 3px;
}
.input-field input{
    display: flex;
    outline: none;
    font-size: 0,9rem;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 0.5rem;
    background: #516A9B;
    margin-bottom: 0.3rem;
}
.input-field input::placeholder{
    color: #FFFFFF;
}
form input[type="submit"]{
    padding: 0.5rem;
    background: linear-gradient(to left, rgba(81, 106, 155, 1),rgba(81, 106, 155, 0));
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right,rgba(81, 106, 155, 1),rgba(81, 106, 155, 0));
}

.rodape{
    position: relative;
    background: linear-gradient(to right,#516A9B, #24232F);
    border-top: 0.4px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}